{% extends 'base.html.twig' %}

{% block content %}

    <h1>Page pour admin</h1>

    <p>Nom de utilisateur connecte : {{ app.user }}</p>
    <p>email : {{ app.user.email }}</p>



    {% block breadcrumb %}
            <ul class="breadcrumb">
                <li><a href="">Tableau de bord</a></li>
                <li>/</li>
                <li class="active">listes des categories</li>
            </ul>
        
    {% endblock %}
{% endblock %}
